{% macro displayPitchList(pitch_list) %}

    {% for pitch in pitch_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <li class="text-center">
                <a href="/pitch/{{pitch.id}}">
                    {{ pitch.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %}


<!-- Displaying comment macro -->
{% macro displayComments(comment_list) %}
    {% for comment in comment_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <h2> {{comment.title}} </h2>
            <p> {{comment.comment | truncate(30)}} </p>
        </div>
    {% endfor %}
{% endmacro %}