{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
{% endblock %}


{% block content %}
<div class="container">

    <!-- Pitch background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath"
             style="background: url({{movie.poster}}) no-repeat center center">
                <!--<div class="container" style ="min-height:300px "></div>-->
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ pitch.title }}</h3>

            <p class="overview"> {{ pitch.id }}</p>
            <p class="overview"> {{ pitch.date_created }}</p>
            <p class="ratings"> <b> {{ pitch.vote_count }}</b> - <i>{{ movie.vote_count}} votes </i> </p>
        


        </div>
    </div>
    
    <div class="row">
        <h1>Comments</h1>
        <hr>
        
        {% if comments %}
            {{macro.displayComments(comments)}}
        {% else %}
            <h3 class="text-center">This Pitch has no comments</h3>

            <a class="btn btn-success btn-lg text-center" href="/movie/review/new/{{movie.id}}">Write a new review</a>
        {% endif %}
    </div>

</div>
{% endblock %}