{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}



{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success">
{{ message}}
</div>
{% endfor %}
{{wtf.quick_form(pitch_form)}}

{% for pitch in pitch %}

<div class="col-md-8 offset-md-2" style="margin-left:15%;">


<div class="panel panel-default">
    <div class="table-container">
        <table class="table table-filter">
            <tbody>
                <tr data-status="pagado">
                    <td>
                        <div class="media">
                            <div class="media-body">
                                <span class="media-meta pull-right">{{ pitch.date_created }}</span>
                                <h4 class="title">{{ pitch.actual_pitch }}..
                                </h4>

                                <a href="/comments/{{pitch.id}}" class="btn btn-info">View comments</a>
                                <a class="btn btn-success text-center" href="/pitch/comments/new/{{pitch.id}}">Comment on this pitch</a> 
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>

{% endfor %}
{% for pitch in pickuplines %}

<div class="col-md-8 offset-md-2" style="margin-left:15%;">


<div class="panel panel-default">
    <div class="table-container">
        <table class="table table-filter">
            <tbody>
                <tr data-status="pagado">
                    <td>
                        <div class="media">
                            <div class="media-body">
                                <span class="media-meta pull-right">{{ pitch.date_created }}</span>
                                <h4 class="title">{{ pitch.actual_pitch }}..
                                </h4>

                                <a href="/comments/{{pitch.id}}" class="btn btn-info">View comments</a>
                                <a class="btn btn-success text-center" href="/pitch/comments/new/{{pitch.id}}">Comment on this pitch</a> 
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>

{% endfor %}
{% endblock %}